extends layout

block body
  p.lead
    | This is a real-time dashboard of who's currently in the office.
  
  .users
    - each user in users
      .user(data-mac=user.mac)
        .name=user.name
        .status

block js
  script(src='/socket.io/socket.io.js')
  != js('app')
