doctype html
html
  head
    meta(charset='utf-8')
    title Hoisin
    meta(name='viewport', content='width=device-width, user-scalable=no, minimal-ui')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Cabin:400,700')
    != css('app')
  body
    .container
      header
        a(href='/') Hoisin
      
      block body
    
    block js
