doctype html
html
  head
    meta(charset='utf-8')
    title Who's in?
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Cabin:400,700')
    != css('app')
  body
    .container
      header
        a(href='/') Who's in?
      
      block body
    
    block js
